<a href="https://colab.research.google.com/github/nehamane1/Neha-Mane/blob/master/dec14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import sqlite3
db = sqlite3.connect("HR_database.db")
db.execute("drop table if exists results")
try:
  db.execute("create table HR(Name text, Age text,Gender text, Experience text, Tool_exp text, Remarks text)")
except:
  print("Already table existed !!")

Already table existed !!

In [4]:
def emp_input():
  print('Enter employee details.')
  name=input('Enter Employee name: ')
  age=input('Enter age: ')
  gender=input('Enter Gender: ')
  exp=input('Enter total Experience: ')
  tool=input('Enter tools details: ')
  remark=input('Enter Employee remarks')