<a href="https://colab.research.google.com/github/nehamane1/Neha-Mane/blob/master/sqlite.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install db-sqlite3

Collecting db-sqlite3
  Downloading https://files.pythonhosted.org/packages/ff/00/e1f3d7bf1e0bff7c0574c0d5535c041e139d4ce43db196147e4c62f52ed5/db-sqlite3-0.0.1.tar.gz
Collecting db
  Downloading https://files.pythonhosted.org/packages/a9/22/f65d64c83e63790b3273c6adb3bff338ad594f46d84b41bd1f94593b40a6/db-0.1.1.tar.gz
Collecting antiorm
  Downloading https://files.pythonhosted.org/packages/0b/f8/71baa4824d9666c1be51d117119579a97f461ddbded48b2e01a6ad0554b5/antiorm-1.2.1.tar.gz (171kB)
     |████████████████████████████████| 174kB 11.2MB/s
Building wheels for collected packages: db-sqlite3, db, antiorm
  Building wheel for db-sqlite3 (setup.py) ... done
  Created wheel for db-sqlite3: filename=db_sqlite3-0.0.1-cp36-none-any.whl size=1797 sha256=77b364921d791e4d21541691c0ea2af947f55eb80f19aaae88ae0527b601729a
  Stored in directory: /root/.cache/pip/wheels/e0/f8/cb/08e3a3a63bdea9ac3a0cccd140636b6cf94e3fb7df1070b12e
  Building wheel for db (setup.py) ... done
  Created wheel for db: filename=db-0.1.1-cp36-none-any.whl size=3894 sha256=486f3f6fb856d3c500ce2ca41b15323ee66dfb6b6cfe7b3690f30d62ca4aaefd
  Stored in directory: /root/.cache/pip/wheels/30/eb/ba/237fa002d1d1b2e73cedcefd26a9db37c4b72c7e5156ea0501
  Building wheel for antiorm (setup.py) ... done
  Created wheel for antiorm: filename=antiorm-1.2.1-cp36-none-any.whl size=31664 sha256=bd2ed2f70804384ae8756ffcf4c60532a5550ea5b350aa554a5435f8ce71089e
  Stored in directory: /root/.cache/pip/wheels/b0/91/4d/f8fe808786ff1cda9e7e99e1b1bbda9196ab26786017965313
Successfully built db-sqlite3 db antiorm
Installing collected packages: antiorm, db, db-sqlite3
Successfully installed antiorm-1.2.1 db-0.1.1 db-sqlite3-0.0.1

In [2]:
import pandas as pd
import sqlite3
from datetime import date

In [3]:
#connecting with the database.
db = sqlite3.connect("Abhi_testing.db")
db.execute("drop table if exists results")
try:
  db.execute("create table results(Name text, Mobile text,Mail text)")
except:
  print("Already table existed !!")

In [4]:
db = sqlite3.connect("Abhi_testing.db")

In [5]:
#Date = date.today().strftime("%d-%m-%Y")
Name = "Abhi"
Mobile = "9000011101"
Mail = "AbhiteachineMachine1@you.com"

In [6]:
cmd = "insert into results(Name, Mobile,Mail) values('{}','{}','{}')".format(Name,Mobile,Mail)
db.execute(cmd)
db.commit()

In [7]:
db = sqlite3.connect("Abhi_testing.db")
rs = db.execute('SELECT * FROM results')
for row in rs:
    print (row)

('Abhi', '9000011101', 'AbhiteachineMachine1@you.com')

In [8]:
db = sqlite3.connect("Abhi_testing.db")
qry = """

SELECT * FROM results

"""
df = pd.read_sql_query(qry, db)
df.head()

   Name      Mobile                          Mail
0  Abhi  9000011101  AbhiteachineMachine1@you.com

In [9]:
db = sqlite3.connect("Abhi_testing.db")
rs = db.execute('SELECT * FROM results')
for row in rs:
    print (row)

('Abhi', '9000011101', 'AbhiteachineMachine1@you.com')

In [12]:
for x in range(6):
  Name="Abhi"+str(x)
  Mobile="432432"+str(x)
  Mail="abhi1"+str(x)
  cmd = "insert into results(Name, Mobile,Mail) values('{}','{}','{}')".format(Name,Mobile,Mail)
  db.execute(cmd)
  db.commit()

rs = db.execute('SELECT * FROM results')
for row in rs:
    print (row)

('Abhi', '9000011101', 'AbhiteachineMachine1@you.com')
('Abhi0', '4324320', 'abhi10')
('Abhi1', '4324321', 'abhi11')
('Abhi2', '4324322', 'abhi12')
('Abhi3', '4324323', 'abhi13')
('Abhi4', '4324324', 'abhi14')
('Abhi5', '4324325', 'abhi15')
('Abhi0', '4324320', 'abhi10')
('Abhi1', '4324321', 'abhi11')
('Abhi2', '4324322', 'abhi12')
('Abhi3', '4324323', 'abhi13')
('Abhi4', '4324324', 'abhi14')
('Abhi5', '4324325', 'abhi15')

In [13]:
db = sqlite3.connect("Abhi_testing.db")
qry = """

SELECT * FROM results

"""
df = pd.read_sql_query(qry, db)
df.head()

    Name      Mobile                          Mail
0   Abhi  9000011101  AbhiteachineMachine1@you.com
1  Abhi0     4324320                        abhi10
2  Abhi1     4324321                        abhi11
3  Abhi2     4324322                        abhi12
4  Abhi3     4324323                        abhi13

In [26]:
df.loc[df["Mobile"]>5000000]

TypeError: ignored

In [24]:
def pushtoDB(Name,Mobile,Mail):
#inserting values inside the created table
    db = sqlite3.connect("testing.db")    
    from datetime import date
    #Date = date.today().strftime("%d-%m-%Y")
    cmd = "insert into results(Name, Mobile,Mail) values('{}','{}','{}')".format(Name,Mobile,Mail)
    db.execute(cmd)
    db.commit()

In [23]:
data = pd.read_csv("dummy.csv")
data.head()
data.shape

FileNotFoundError: ignored